name: Cache Demo

on: [push]  # Runs on every push to any branch

jobs:
  demo:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: prime-cache-246fc91
      uses: actions/cache@v4
      with:
        key: cache-246fc91
        path: ~/.cache

